<mat-card class="account-details" appearance="outlined">
  <mat-card-header>
    <mat-card-title
      class="header-row"
      routerLink="/transaction"
      [queryParams]="{ accountId: account?.accountId }"
    >
      <mat-icon>account_circle</mat-icon>
      <span class="account-title">Account Id: {{ account?.accountId }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="accounts-group">
    <div class="details-row">
      <div class="detail">
        <mat-icon>person</mat-icon> Account Owner: {{ account?.owner }}
      </div>
      <div class="detail">
        <mat-icon>category</mat-icon> Account Type:
        {{ account?.accountType | titlecase }}
      </div>
      <div class="detail account-balance">
        <mat-icon>account_balance_wallet</mat-icon> Account Balance:
        {{ account?.balance }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
