<div class="transactions">
  <h1>Transactions</h1>
  <div class="filter-group">
    <div class="filters density-settings">
      <mat-form-field appearance="outline">
        <mat-label>Filter by Description</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="filterDescription"
          (ngModelChange)="updateFilteredTransactions()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Filter by Account</mat-label>
        <mat-select
          [(ngModel)]="filterAccountId"
          (selectionChange)="
            updateFilteredTransactions(); updateParam(filterAccountId)
          "
        >
          <mat-option [value]="undefined">None</mat-option>
          <mat-option
            *ngFor="let account of accounts"
            [value]="account.accountId"
          >
            {{ account.owner }} ({{ account.accountId }}) -
            {{ account.accountType | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-custom-button
      backgroundColor="#eb0707"
      color="#ffffff"
      size="sm"
      label="Reset"
      (click)="resetFilters()"
      class="filter-reset"
    />
  </div>

  <div class="action-buttons">
    <app-custom-button
      backgroundColor="#32a852"
      color="#ffffff"
      size="md"
      label="New Transaction"
      routerLink="/transaction/create"
    />
    <app-custom-button
      backgroundColor="#e0ecb2"
      size="md"
      label="View Accounts"
      routerLink="/account"
    />
  </div>

  <mat-card class="allow-overflow" appearance="outlined">
    <app-transaction-details
      *ngFor="let transaction of filteredTransactions"
      [transaction]="transaction"
    />
    <div class="no-transactions" *ngIf="!filteredTransactions.length">
      <span>No transactions found.</span>
    </div>
  </mat-card>
</div>
