.accounts{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.action-buttons{
    width: 320px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}